@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'Acorn';
  src: url('https://raw.githubusercontent.com/jaindisha2703/portfolio/13861419f8de4ea1375264a8bd2f2543311847f4/acorn-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acorn';
  src: url('https://raw.githubusercontent.com/jaindisha2703/portfolio/13861419f8de4ea1375264a8bd2f2543311847f4/acorn-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acorn';
  src: url('https://raw.githubusercontent.com/jaindisha2703/portfolio/13861419f8de4ea1375264a8bd2f2543311847f4/acorn-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acorn';
  src: url('https://raw.githubusercontent.com/jaindisha2703/portfolio/13861419f8de4ea1375264a8bd2f2543311847f4/acorn-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
